html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: "Montserrat", sans-serif;
}

header {
  width: 100%;
  padding-bottom: 5px;
  background-color: #00a7e1;
}

body {
  background-color: #d9e5d6;
  color: #040403;
}

img {
  width: 70%;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  background-size: 220%;
  box-shadow: 0 0.2em 0.3em rgba(0, 0, 0, 0.15);
  color: #040403;
  background-color: transparent;
  background-position: 100%;
  border: 3px solid #fa824c;
  text-transform: uppercase;
  padding: 8px 16px;
  border-radius: 3px;
  transition: all 0.2s ease-out;
  font-weight: 900;
  cursor: pointer;
  letter-spacing: 2px;
  background-image: linear-gradient(
    110deg,
    #fa824c 0%,
    #fa824c 50%,
    transparent 50%,
    transparent 100%
  );
  font-size: 14px;
}

button:hover {
  transform: translateY(-2px);
  box-shadow: 0 0 0.3em rgba(0, 0, 0, 0.25);
  background-position: 0;
  color: #040403;
}

button:active {
  transform: translateY(-1px);
}
